<div class="container">
  <div ng-controller="WeekCtrl">
    <div class="row">
      <div class="col-sm-12">
        <h1>Week 14: April 7 - April 13, 2014 <span title="Select date" class="glyphicon glyphicon-calendar"></span></h1> 
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <h3>Wednesday, April 9 6:15-7:45 PM</h3>
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Giraffe Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="" >{{vol}} <span ng-click="foo()" ng-show="vol==='Open...'" style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span ng-click="foobar()" ng-show="vol==='Miles Jagusch'" style="font-size:1.3em;" title="Cancel..." class="glyphicon glyphicon-minus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Ladybug Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Zebra Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Nest Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Lion Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Salamander Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>

    <div class="row">
    
      <div class="col-sm-12">
        <h3>Saturday, April 12 5:15-6:45 PM</h3>
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Giraffe Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Ladybug Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Zebra Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Nest Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Lion Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Salamander Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-12">
        <h3>Sunday, April 13 8:45-10:15 AM</h3>
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Giraffe Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Ladybug Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Zebra Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Nest Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Lion Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Salamander Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>Sunday, April 13 10:15-11:45 AM</h3>
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Giraffe Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Ladybug Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Zebra Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Nest Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Lion Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-1"></div><div class="col-sm-11"><h4>Salamander Room</h4></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div><div class="col-sm-10"><a href="" ng-click="">Open... <span style="font-size:1.3em;" title="Volunteer now" class="glyphicon glyphicon-plus"></span><span style="font-size:1.3em;" title="Assign volunteer" class="glyphicon glyphicon-edit"></span></a></div>
        </div>
      </div>
    </div>

  </div>
</div> <!-- container/controller -->