<div class="container">
  <ul tabset>
    <li tab heading="Recurring">
    <div ng-controller="RecurringScheduleCtrl">
      <div class="row">
        <div class="col-sm-6">
          <div class="col-sm-8">
            <h1>Recurring Schedule</h1>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Volunteers</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="recurrance in recurrances | filter:filterString" ng-click="displayRecurrance(recurrance)">
                <td>{{recurrance.dayOfWeek}}</td>
                <td>{{recurrance.timeStart}}</td>
                <td>{{recurrance.timeEnd}}</td>
                <td>{{recurrance.volunteerSlots}}</td>
              </tr>
            </tbody>
          </table> 
          <div class="form-group row">
            <a id='addRecurrance' class='btn btn-primary' ng-click="addRecurrance()">Add</a>
            <a id='scheduleRecurring' class='btn' ng-click="scheduleRecurring()">Schedule...</a>
          </div>
        </div>
      
        <div class="col-sm-6 ng-hide" ng-show="recurrance">
          <h1>Details</h1>
          <form role="form" name="recurranceEditForm" novalidate>
            <div class="form-group row" ng-class="{'has-error': form.dayOfWeek.$error.required}">
              <label class="control-label col-sm-4 text-right" for="dayOfWeek">
                Day of Week<span class="help-block error" ng-show="recurranceEditForm.dayOfWeek.$error.required">Required</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="dayOfWeek" name="dayOfWeek" placeholder="DayOfWeek" ng-model="recurrance.dayOfWeek" required/>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': form.timeStart.$error.required}">
              <label class="control-label col-sm-4 text-right" for="timeStart">
                Start Time<span class="help-block error" ng-show="recurranceEditForm.timeStart.$error.required">Required</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="timeStart" name="timeStart" placeholder="Start Time" ng-model="recurrance.timeStart" required/>
              </div>
            </div>
          
            <div class="form-group row" ng-class="{'has-error': form.timeEnd.$error.required}">
              <label class="control-label col-sm-4 text-right" for="timeEnd">
                End Time<span class="help-block error" ng-show="recurranceEditForm.timeEnd.$error.required">Required</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="timeEnd" name="timeEnd" placeholder="End Time" required ng-model="recurrance.timeEnd"/>
              </div>
            </div>
          
            <div class="form-group row" ng-class="{'has-error': form.volunteerSlots.$error.required}">
              <label class="control-label col-sm-4 text-right" for="volunteerSlots">
                Volunteers<span class="help-block error" ng-show="recurranceEditForm.volunteerSlots.$error.required">Required</span>
              </label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="volunteerSlots" name="volunteerSlots" placeholder="# Volunteers" required ng-model="recurrance.volunteerSlots"/>
              </div>
            </div>
          
            <div class="form-group row">
              <input type="submit" class="btn btn-default col-sm-offset-1 col-sm-2" ng-click="saveRecurrance(recurrance)" value="Save"/>
              <a class="col-sm-2 btn" ng-click="deleteRecurrance(recurrance)">Delete</a>
              <a class="col-sm-2 btn" ng-click="voidRecurrance()">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      <div class="row" ng-show="scheduledDates">
        <h2> The following dates have been scheduled</h2>
      </div>      
    </div>
    </li>
    <li tab heading="Dates">
    <div ng-controller="DateScheduleCtrl">
      <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-8">
            <h1>Scheduled Dates</h1>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="scheduledDate in scheduledDates | filter:filterString" ng-click="displayScheduledDate(scheduledDate)">
                <td>{{scheduledDate.dateScheduled}}</td>
                <td>{{scheduledDate.timeStart}}</td>
                <td>{{scheduledDate.timeEnd}}</td>
              </tr>
            </tbody>
          </table> 
          <div class="form-group row">
            <a id='addScheduledDate' class='btn btn-primary' ng-click="addScheduledDate()">Add</a>
          </div>
        </div>
      
        <div class="col-sm-4 ng-hide" ng-show="scheduledDate">
          <h1>Details</h1>
          <form role="form" name="scheduledDateEditForm" novalidate>
            <div class="form-group row" ng-class="{'has-error': form.dateScheduled.$error.required}">
              <label class="control-label col-sm-4 text-right" for="dateScheduled">
                Date<span class="help-block error" ng-show="scheduledDateEditForm.dateScheduled.$error.required">Required</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="dateScheduled" name="dateScheduled" placeholder="Date" ng-model="scheduledDate.dateScheduled" required/>
              </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': form.timeStart.$error.required}">
              <label class="control-label col-sm-4 text-right" for="timeStart">
                Start Time<span class="help-block error" ng-show="scheduledDateEditForm.timeStart.$error.required">Required</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="timeStart" name="timeStart" placeholder="Start Time" ng-model="scheduledDate.timeStart" required/>
              </div>
            </div>
          
            <div class="form-group row" ng-class="{'has-error': form.timeEnd.$error.required}">
              <label class="control-label col-sm-4 text-right" for="timeEnd">
                End Time<span class="help-block error" ng-show="scheduledDateEditForm.timeEnd.$error.required">Required</span>
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="timeEnd" name="timeEnd" placeholder="End Time" required ng-model="scheduledDate.timeEnd"/>
              </div>
            </div>
          
            <div class="form-group row">
              <input type="submit" class="btn btn-default col-sm-offset-1 col-sm-2" ng-click="saveScheduledDate(scheduledDate)" value="Save"/>
              <a class="col-sm-2 btn" ng-click="deleteScheduledDate(scheduledDate)">Delete</a>
              <a class="col-sm-2 btn" ng-click="voidScheduledDate()">Cancel</a>
            </div>
          </form>
        </div>
        <div class="col-sm-4 ng-hide" ng-show="scheduledDate">
          <h1>Rooms</h1>
          <div class="form-group row">
            <input type="submit" class="btn btn-default col-sm-offset-1 col-sm-2" ng-click="AddScheduledRoom(scheduledRoom)" value="Add..."/>
            <a class="col-sm-2 btn" ng-click="deleteScheduledRoom(scheduledDate)">Delete</a>
          </div>
        </div>
      </div>
    </div>
    </li>
    <li tab heading="Rooms">
      <div ng-controller="RoomScheduleCtrl">
      <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-8">
            <h1>Rooms</h1>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Room</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="room in rooms | filter:filterString" ng-click="displayRoomSchedule(room)">
                <td>{{room.name}}</td>
              </tr>
            </tbody>
          </table> 
        </div>
      
        <div class="col-sm-4 ng-hide" ng-show="room">
          <h1>Dates</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="roomInstance in roomInstances | filter:filterString" ng-click="displayRoomInstance(roomInstance)">
                <td>{{roomInstance.scheduledDate.dateScheduled}}</td>
                <td>{{roomInstance.scheduledDate.timeStart}}</td>
                <td>{{roomInstance.scheduledDate.timeEnd}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4 ng-hide" ng-show="roomInstance"> 
          <h1>Details</h1>
          <form role="form" name="roomInstanceEditForm" novalidate>
            <div class="form-group row" ng-class="{'has-error': form.volunteerSlots.$error.required}">
              <label class="control-label col-sm-4 text-right" for="volunteerSlots">
                Volunteers<span class="help-block error" ng-show="recurranceEditForm.volunteerSlots.$error.required">Required</span>
              </label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="volunteerSlots" name="volunteerSlots" placeholder="# Volunteers" required ng-model="recurrance.volunteerSlots"/>
              </div>
            </div>
            <div class="form-group row">
              <input type="submit" class="btn btn-default col-sm-offset-1 col-sm-2" ng-click="saveRoomInstance(roomInstance)" value="Save"/>
              <a class="col-sm-2 btn" ng-click="voidRoomInstance()">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      </div>
    </li>
    <li tab heading="Volunteers">
      <div ng-controller="VolunteerScheduleCtrl">
        <h1>Volunteers</h1>
      </div>
    </li>
  </ul>
</div> <!-- container/controller -->