<div class="container">
  <ul tabset>
    <li tab heading="Dates">
    <div ng-controller="RecurringScheduleCtrl">
      <!-- div class="row"-->
        <div class="col-sm-4">
          <div class="col-sm-8">
            <h1>Recurring Schedule</h1>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="recurrance in recurrances | filter:filterString" ng-click="displayRecurrance(recurrance)" ng-class="{selected: selectedRecurrance.id === recurrance.id}">
                <td>{{recurrance.dayOfWeek}}</td>
                <td>{{recurrance.timeStart}}</td>
                <td>{{recurrance.timeEnd}}</td>
              </tr>
            </tbody>
          </table> 
          
          <script type="text/ng-template" id="recurranceScheduleDialog.html">
            <div class="modal-header">
              <h3 class="modal-title">Schedule Recurring Dates</h3>
            </div>
            <div class="modal-body">
              <form role="form" name="form.recurranceScheduleForm" novalidate>
                <div class="form-group row" ng-class="{'has-error': form.toDate.$error.required}">
                  <label class="control-label col-sm-4 text-right" for="toDate">
                    Schedule through<span class="help-block error" ng-show="recurranceScheduleForm.toDate.$error.required">Required</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="toDate" name="toDate" placeholder="mm/dd/yyyy" ng-model="toDate" required/>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">Save</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>

          <script type="text/ng-template" id="recurranceDialog.html">
            <div class="modal-header">
              <h3 class="modal-title" ng-show="date.id">Edit Recurrance</h3>
              <h3 class="modal-title" ng-show="!date.id">Add Recurrance</h3>
            </div>
            <div class="modal-body">
              <form role="form" name="form.recurranceEditForm" novalidate>
                <div class="form-group row" ng-class="{'has-error': form.dayOfWeek.$error.required}">
                  <label class="control-label col-sm-4 text-right" for="dayOfWeek">
                    Day<span class="help-block error" ng-show="recurranceEditForm.dayOfWeek.$error.required">Required</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="dayOfWeek" name="dayOfWeek" placeholder="Day of week" ng-model="recurrance.dayOfWeek" required/>
                  </div>
                </div>
                <div class="form-group row" ng-class="{'has-error': form.timeStart.$error.required}">
                  <label class="control-label col-sm-4 text-right" for="timeStart">
                    Start Time<span class="help-block error" ng-show="recurranceEditForm.timeStart.$error.required">Required</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="timeStart" name="timeStart" placeholder="hh:mm:ss" ng-model="recurrance.timeStart" required/>
                  </div>
                </div>      
                <div class="form-group row" ng-class="{'has-error': form.timeEnd.$error.required}">
                  <label class="control-label col-sm-4 text-right" for="timeEnd">
                    End Time<span class="help-block error" ng-show="recurranceEditForm.timeEnd.$error.required">Required</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="timeEnd" name="timeEnd" placeholder="hh:mm:ss" required ng-model="recurrance.timeEnd"/>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">Save</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          
          <div class="form-group row">
            <a class="btn col-sm-3" ng-click="scheduleRecurring()">Schedule...</a>
            <a class="btn col-sm-2" ng-click="addRecurrance()">Add...</a>
            <a class="btn col-sm-2" ng-click="editRecurrance(selectedRecurrance)" ng-show="selectedRecurrance">Edit...</a>
            <a class="btn col-sm-2" ng-click="deleteRecurrance(selectedRecurrance)" ng-show="selectedRecurrance">Delete</a>
            <a class="btn col-sm-2" ng-click="voidRecurrance()" ng-show="selectedRecurrance">Cancel</a>
          </div>
        </div>
    </div>
    <div ng-controller="DateScheduleCtrl">
        <div class="col-sm-4">
          <div class="col-sm-8">
            <h1>Scheduled Dates</h1>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="scheduledDate in scheduledDates | filter:filterString" ng-click="displayScheduledDate(scheduledDate)" ng-class="{selected: selectedDate.id === scheduledDate.id}">
                <td>{{scheduledDate.dateScheduled}}</td>
                <td>{{scheduledDate.timeStart}}</td>
                <td>{{scheduledDate.timeEnd}}</td>
              </tr>
            </tbody>
          </table> 

          <script type="text/ng-template" id="scheduledDateDialog.html">
            <div class="modal-header">
              <h3 class="modal-title" ng-show="date.id">Edit Date</h3>
              <h3 class="modal-title" ng-show="!date.id">Add Date</h3>
            </div>
            <div class="modal-body">
              <form role="form" name="form.scheduledDateEditForm" novalidate>
                <div class="form-group row" ng-class="{'has-error': form.dateScheduled.$error.required}">
                  <label class="control-label col-sm-4 text-right" for="dateScheduled">
                    Date<span class="help-block error" ng-show="scheduledDateEditForm.dateScheduled.$error.required">Required</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="dateScheduled" name="dateScheduled" placeholder="mm/dd/yyyy" ng-model="date.dateScheduled" required/>
                  </div>
                </div>
                <div class="form-group row" ng-class="{'has-error': form.timeStart.$error.required}">
                  <label class="control-label col-sm-4 text-right" for="timeStart">
                    Start Time<span class="help-block error" ng-show="scheduledDateEditForm.timeStart.$error.required">Required</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="timeStart" name="timeStart" placeholder="hh:mm:ss" ng-model="date.timeStart" required/>
                  </div>
                </div>      
                <div class="form-group row" ng-class="{'has-error': form.timeEnd.$error.required}">
                  <label class="control-label col-sm-4 text-right" for="timeEnd">
                    End Time<span class="help-block error" ng-show="scheduledDateEditForm.timeEnd.$error.required">Required</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="timeEnd" name="timeEnd" placeholder="hh:mm:ss" required ng-model="date.timeEnd"/>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">Save</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          
          <div class="form-group row">
            <a class="btn col-sm-2" ng-click="addScheduledDate()">Add...</a>
            <a class="btn col-sm-2" ng-click="editScheduledDate(selectedDate)" ng-show="selectedDate">Edit...</a>
            <a class="btn col-sm-2" ng-click="deleteScheduledDate(selectedDate)" ng-show="selectedDate">Delete</a>
            <a class="btn col-sm-2" ng-click="voidSelectedDate()" ng-show="selectedDate">Cancel</a>
          </div>
        </div>
      
        <div class="col-sm-4 ng-hide" ng-show="selectedDate">
          <h1>Rooms</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Room</th>
                <th>#Volunteers</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="scheduledRoom in scheduledRooms | filter:filterString" ng-click="selectScheduledRoom(scheduledRoom)" ng-class="{selected: selectedRoom.id === scheduledRoom.id}">
                <td>{{scheduledRoom.room.name}}</td>
                <td>{{scheduledRoom.volunteerSlots}}</td>
              </tr>
            </tbody>
          </table>
           
          <script type="text/ng-template" id="scheduledRoomDialog.html">
            <div class="modal-header">
              <h3 class="modal-title" ng-show="room.id">Edit Room</h3>
              <h3 class="modal-title" ng-show="!room.id">Add Room</h3>
            </div>
            <div class="modal-body">
              <form role="form" name="form.scheduledRoomEditForm" novalidate>
                <div class="form-group row">
                  <label class="control-label text-right col-sm-4">
                    Date
                  </label>
                  <div class="col-sm-8">
                    <span class="form-control-static">{{room.scheduledDate.dateScheduled}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label text-right col-sm-4">
                    Start Time
                  </label>
                  <div class="col-sm-8">
                    <span class="form-control-static">{{room.scheduledDate.timeStart}}</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="control-label text-right col-sm-4">
                    End Time
                  </label>
                  <div class="col-sm-8">
                    <span class="form-control-static">{{room.scheduledDate.timeEnd}}</span>
                  </div>
                </div>
                <div class="form-group row" ng-class="{'has-error': form.room.$error.required}">
                  <label class="control-label text-right col-sm-4" for="room">
                    Room<span class="help-block error" ng-show="scheduledRoomEditForm.room.$error.required">Required</span>
                  </label>
                  <div class="col-sm-8">
                    <span class="form-control-static" id="roomdisp" name="roomdisp" ng-show="room.id">{{room.room.name}}</span>
                    <select class="form-control" id="room" name="room" ng-model="room.room" ng-options="r.name for r in rooms" ng-hide="room.id">
                      <option value="">---Choose a room---</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row" ng-class="{'has-error': form.volunteers.$error.required}">
                  <label class="control-label text-right col-sm-4" for="volunteers">
                    #Volunteers<span class="help-block error" ng-show="scheduledRoomEditForm.volunteers.$error.required">Required</span>
                  </label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="volunteers" name="volunteers" placeholder="# Volunteers" ng-model="room.volunteerSlots" required/>
                  </div>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">Save</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          <div class="form-group row">
            <a class="btn col-sm-2" ng-click="addScheduledRoom()">Add...</a>
            <a class="btn col-sm-2" ng-click="editScheduledRoom(selectedRoom)" ng-show="selectedRoom">Edit...</a>
            <a class="btn col-sm-2" ng-click="deleteScheduledRoom(selectedRoom)" ng-show="selectedRoom">Delete</a>
            <a class="btn col-sm-2" ng-click="voidSelectedRoom()" ng-show="selectedRoom">Cancel</a>
          </div>
        </div>
    </div>
    </li>
    <li tab heading="Rooms">
      <div ng-controller="RoomScheduleCtrl">
      <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-8">
            <h1>Rooms</h1>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Room</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="room in rooms | filter:filterString" ng-click="displayRoomSchedule(room)">
                <td>{{room.name}}</td>
              </tr>
            </tbody>
          </table> 
        </div>
      
        <div class="col-sm-4 ng-hide" ng-show="room">
          <h1>Dates</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="scheduledRoom in scheduledRooms | filter:filterString" ng-click="displayScheduledRoom(selectedRoom)">
                <td>{{scheduledRoom.scheduledDate.dateScheduled}}</td>
                <td>{{scheduledRoom.scheduledDate.timeStart}}</td>
                <td>{{scheduledRoom.scheduledDate.timeEnd}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-4 ng-hide" ng-show="selectedRoom"> 
          <h1>Details</h1>
          <form role="form" name="scheduledRoomEditForm" novalidate>
            <div class="form-group row" ng-class="{'has-error': form.volunteerSlots.$error.required}">
              <label class="control-label col-sm-4 text-right" for="volunteerSlots">
                Volunteers<span class="help-block error" ng-show="recurranceEditForm.volunteerSlots.$error.required">Required</span>
              </label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="volunteerSlots" name="volunteerSlots" placeholder="# Volunteers" required ng-model="recurrance.volunteerSlots"/>
              </div>
            </div>
            <div class="form-group row">
              <input type="submit" class="btn btn-default col-sm-offset-1 col-sm-2" ng-click="savescheduledRoom(scheduledRoom)" value="Save"/>
              <a class="col-sm-2 btn" ng-click="voidSelectedRoom()">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      </div>
    </li>
    <li tab heading="Volunteers">
      <div ng-controller="VolunteerScheduleCtrl">
        <h1>Volunteers</h1>
      </div>
    </li>
  </ul>
</div> <!-- container/controller -->